{% block FilesBySkate %}
<div
        class="FileBrowserFrame"
        id="FileBrowserFrame"
        hx-get="/skates/{{ current_skate.id }}/details"
        hx-target=".FileBrowserFrame"
        hx-swap="afterend"
        hx-trigger="load"
>
    <button hx-get="/skates/{{ current_skate.id }}/files"
            hx-target=".FileBrowser"
            hx-swap="outerHTML">
        Refresh!
    </button>
    <sl-tree class="FileBrowser" id="FileBrowser" >

        <sl-tree-item>
            Video
            {% for file in files_list %}
                {% if "video" in file.file_type %}
                    {% include 'file.html' %}
                {% endif %}
            {% endfor %}
        </sl-tree-item>

        <sl-tree-item>
            Photo
            {% for file in files_list %}
                {% if "image" in file.file_type %}
                    {% include 'file.html' %}
                {% endif %}
            {% endfor %}
        </sl-tree-item>
    </sl-tree>
</div>
{% endblock %}