#new_competition_modal {
    position: absolute;
    z-index: 3;
}
#new_event_modal {
    position:absolute;
    z-index: 3;
}
.new_skate_modal {
    position:absolute;
    z-index: 3;
}
.CompetitionBrowser {
    grid-column: 1/4;
    grid-row: 1;
    background-color: #846347;
    z-index: 1;
    }
.AppFrame {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2rem 1fr 1fr;
    min-height: 98vh;
    max-height: 98vh;
    z-index:-100;
    }
.EventBrowser {
    grid-column: 1;
    grid-row: 2/4;
    background-color: #D9D1CA;
    overflow-y:auto;
    z-index:1;
    resize: horizontal;
    }

.ModalButton {
    grid-column: 2;
    grid-row: 1;
    z-index: 2;
}

sl-tree-item > sl-tree-item:hover {
    background-color: Yellow;
    color: Black;
}
.SkateMediaFrame {
    grid-column: 2/4;
    grid-row: 2;
    background-color: #5F8E99;
    z-index:0;
}
.MediaPlayer {
    z-index:0;
    }
.FileBrowserFrame {
    grid-row: 3;
    grid-column: 2;
    background-color: #846347;
    z-index:1;
    overflow-y: scroll;
    }
.CurrentOrder {
    grid-row: 3;
    grid-column: 3;
    background-color: #D9D1CA;
    z-index:1;
}
sl-tree {
    font-size: 1rem;
    z-index:1;
}
.drag-over {
    background-color: #D9D1CA;
}