#new_competition_modal {
    position:absolute;
}
#new_event_modal {
    position:absolute;
    z-index: 1;
}
.new_skate_modal {
    position:absolute;
    z-index: 1;
}
.CompetitionBrowser {
    background-color: #846347;
    position: fixed;
    height: 5%;
    top: 5px;
    left: 5px;
    right: 5px;
    z-index: 1;
    }
.AppFrame {
        border: 5px outset #214F59;
        position:fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        z-index:-1;
    }
.EventBrowser {
    background-color: #5F8E99;
    position: fixed;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    top: 5%;
    bottom: 0;
    width: 20%;
    overflow-y:auto;
    z-index:-1;
    }
.SkateMediaFrame {
    background-color: #5F8E99;
    position: fixed;
    left: 20%;
    right: 0%;
    top: 5%;
    bottom: 45%;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    z-index:-1;
    }
.SkateSelect {
    background-color: #CAD6D9;
    position: fixed;
    top: 5%;
    bottom: 45%;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 20%;
    overflow-y: auto;
    z-index:-1;
    }
.MediaPlayer {
    position fixed;
    margin-top: 1.5%;
    margin-left: 40%;
    z-index:-1;
    }
.FileBrowser {
    position: fixed;
    top: 53.63%;
    bottom: 0;
    left: 20%;
    right: 40%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #846347;
    z-index:-1;
    }
.CurrentOrder {
    position: fixed;
    background-color: #D9D1CA;
    top: 53.63%;
    bottom: 0;
    left: 59.387%;
    right: 0;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    z-index:-1;
}
sl-tree {
    font-size: 1rem;
    z-index:-1;
}