# ignore all files in any directory named __pycache__
__pycache__/

# ignore all files in the Assets directory
Assets/

# ignore all database files to preserve skater anonymity
*.db

# ignore all pdf files to preserve skater anonymity
*.pdf

# ignore my cheesy venv launcher
venv.bat

# oh and also the venv
env-lmp-skatertron/

# and hypothesis results
.hypothesis/

# ignore secret directories
secret/
/Event PDF/
/Skatertron/.env
/.idea/
/Skatertron/files/
/Skatertron/static/media/
/IGNORE-ARCHIVED/
/Skatertron/utils/ffmpeg-7.1-essentials_build/
