{% block EventBrowser %}

<div class="EventBrowser">
            <ul>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
                <li>FS1</li>
                <li>FS2</li>
                <li>Short Program</li>
                <li>Butts</li>
            </ul>
        </div>

{% endblock %}