{% block FilesBySkate %}
<div
        class="FileBrowserFrame"
        id="FileBrowserFrame"
        hx-get="/skates/{{ current_skate.id }}/details"
        hx-target=".FileBrowserFrame"
        hx-swap="afterend"
        hx-trigger="load"
>

    <!-- TODO: add functionality for multi file upload -->
    <form id='file_upload_form {{ current_skate.id }}'
          hx-encoding='multipart/form-data'
          hx-post='/files/{{ current_skate.id }}'
          hx-swap="none"
          _='on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100'>
        <label for="file_upload {{ current_skate.id }}">
            Upload Files:
        </label>
        <input type="file"
               id="file_upload {{ current_skate.id }}"
               name="uploaded_file"
               accept="image/*, video/*"
        />
        <input type="hidden"
               id="event_name {{ current_skate.id }}"
               name="event"
               value="{{ current_event.event_number }} {{ current_event.event_name }}"
        >
        <input type="hidden"
               id="competition_name {{ current_skate.id }}"
               name="competition"
               value="{{ current_competition.competition_year }} {{ current_competition.competition_name }}"
        >
        <input type="hidden"
               id="skater_name {{ current_skate.id }}"
               name="skater"
               value="{{ current_skate.skater_name }}"
        >
        <button>
            Upload
        </button>
        <progress id='progress' value='0' max='100'></progress>
    </form>
    <button hx-get="/skates/{{ current_skate.id }}/files"
            hx-target=".FileBrowser"
            hx-swap="outerHTML">
        Refresh!
    </button>
    <sl-tree class="FileBrowser" id="FileBrowser" >

        <sl-tree-item>
            Video
            {% for file in files_list %}
                {% if "video" in file.file_type %}
                    {% include 'file.html' %}
                {% endif %}
            {% endfor %}
        </sl-tree-item>

        <sl-tree-item>
            Photo
            {% for file in files_list %}
                {% if "image" in file.file_type %}
                    {% include 'file.html' %}
                {% endif %}
            {% endfor %}
        </sl-tree-item>
    </sl-tree>
</div>
{% endblock %}