<!DOCTYPE html>
<html
        lang="en"
        class="sl-theme-dark"
>
    <head>
        <meta charset="UTF-8">
        <title>Skatertron</title>

        <!-- Hide custom elements until they are defined -->
        <style>
            :not(:defined) {
                visibility: hidden;
            }
        </style>

        <!-- initialize htmx, shoelace -->
        <script src="https://unpkg.com/htmx.org"></script>
        <script
                type="module"
                src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/shoelace-autoloader.js">
        </script>

        <!-- include the stylesheet and favicon -->
        <link
                href="{{ url_for('static', path='favicon.ico') }}"
                rel="shortcut icon"
                type="image/png"
        />
        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.1/cdn/themes/dark.css"
        />
        <!-- include sortable.js for list sorting -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
        <script src="https://cdn.rawgit.com/exif-js/exif-js/master/exif.js"></script>
        <script src="static/js/file_picker.js"></script>
        <script src="static/js/dragsort.js" defer></script>
        <script src="static/js/file_utils.js"></script>
    </head>

    <body>

        <div class="AppFrame" id="AppFrame">
            <div class="CompetitionBrowser">
                <sl-button-group label="Competition Button Group">

                    <sl-select

                            placeholder="--Please Select Competition--"
                            id="Competition-Select"
                            hx-target="#EventBrowser"
                            hoist
                            clearable
                            style="width: 20em;"
                    >
                        {% for competition in competitions_list %}
                        {% include 'new_competition.html' %}
                        {% endfor %}
                    </sl-select>

                    <sl-tooltip content="Add new competition!">
                        <sl-icon-button onclick="new_competition_modal.show()" name="file-earmark-plus"></sl-icon-button>
                    </sl-tooltip>

                    <sl-tooltip content="Edit selected competition! [UNDER CONSTRUCTION]">
                        <sl-icon-button name="pencil"></sl-icon-button>
                    </sl-tooltip>

                    <sl-tooltip content="Delete selected competition! [UNDER CONSTRUCTION]">
                        <sl-icon-button name="trash"></sl-icon-button>
                    </sl-tooltip>

                </sl-button-group>

                <sl-dialog id="new_competition_modal">
                    <h1>New Competition</h1>
                    <form>
                        <label for="competition_name">Competition Name: </label><br>
                        <input type="text" id="competition_name" name="competition_name" autocomplete="off"/><br>
                        <label for="competition_year">Competition Year: </label><br>
                        <input type="number" id="competition_year" name="competition_year" min="2016" autocomplete="off"/><br>
                        <label for="host_club">Host Club: </label><br>
                        <input type="text" id="host_club" name="host_club" autocomplete="off"/><br>
                        <button
                                hx-post="/competitions/"
                                onclick="new_competition_modal.hide()"
                                hx-target="#Competition-Select"
                                hx-swap="beforeend"
                        >
                            Submit
                        </button>
                    </form>
                </sl-dialog>
            </div>
            <div class="EventBrowser" id="EventBrowser">
            </div>
        </div>
    </body>

</html>