{% block SkateSelect %}

<div class="SkateSelect">
    <ul>
        <li>Schmamanda Flor</li>
        <li>Schmamanda Blor</li>
        <li>Schmamanda Clor</li>
        <li>Schmamanda Dlor</li>
        <li>Schmamanda Nlor</li>
        <li>Schmamanda Plor</li>
        <li>Schmamanda Flor</li>
        <li>Schmamanda Blor</li>
        <li>Schmamanda Clor</li>
        <li>Schmamanda Dlor</li>
        <li>Schmamanda Nlor</li>
        <li>Schmamanda Plor</li>
        <li>Schmamanda Flor</li>
        <li>Schmamanda Blor</li>
        <li>Schmamanda Clor</li>
        <li>Schmamanda Dlor</li>
        <li>Schmamanda Nlor</li>
        <li>Schmamanda Plor</li>
    </ul>
</div>

{% endblock %}